{% extends "base.html" %}
{% load static %}

{% block css_files %}
    {#    <link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}">#}
    <link rel="stylesheet" href="{% static 'challenges/styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'challenges/styles/challenges.css' %}">
{% endblock %}

{% block page_title %}
    {{ month|title }} Challenge
{% endblock %}


{% block content %}
    {% include "challenges/includes/header.html" %}
    <h1 class="heading">Challenge of Month {{ month|title }}</h1>
    {% if text is not None %}
        <h2>{{ text }}!</h2>
    {% else %}
        <h3>There is no Task for {{ month|title }}!</h3>
    {% endif %}
{% endblock %}
