{% extends "base.html" %}
{% load static %}

{% block css_files %}
    {#    <link rel="stylesheet" href="{% static 'challenges/styles/../../static/challenges/includes/header.css' %}">#}
    {#    <link rel="stylesheet" href="../../../static/styles.css">#}
    {#    <link rel="stylesheet" href="{% static 'challenges/styles/style.css' %}">#}
    <link rel="stylesheet" href="/static/styles.css">
{% endblock %}


{% block page_title %}
    Monthly Challenges
{% endblock %}

{% block header %}
    {% include "challenges/includes/header.html" %}
{% endblock %}

{% block content %}
    <ul>
        {% for month, challenge in challenges_dict.items %}
            <li><a href="{{ challenge }}">{{ month }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}